extends layout

block content
  h1= title
  - let door =[{ Door_Name:"French door",Door_color:"white",Door_height:6ft},{ Door_Name:"Sliding door",Door_color:"blue",Door_height:5ft},{ Door_Name:"Fiberglass door",Door_color:"Brown",Door_height:6ft}]

   .container-fluid
    .row
      each icecream,index in results
        div(class="col-sm-2" onclick=`buy(${index})`)
          h3 #{icecream.flavour}
          p Quantity: #{icecream.quantity}
          p Price: $#{icecream.price}
  
  script.
    function buy(index) {
        alert(`You purchased : ${index}`)
    }